.mainContainer {
    display: flex;
    flex-grow: 1;
    width: 100%;
    max-width: 2440px;   
    margin: 0 auto; 
    padding: 
        clamp(9vw, 10vw, 10.5vw)  
        clamp(2vw, 2.5vw, 2.7vw) 
        clamp(4vw, 10vw, 10vw); 
    min-height: 100vh;
}

.leftContainer{
    display: flex;
    flex-grow: 1;
    max-width: 550px;
    flex-direction:column;
    gap: clamp(1.8rem, 2.3rem, 2.8rem);
    position: relative;
}

.accountText{
    color: #0C122A;
    font-size: clamp(1rem, 1.5rem, 1.8rem);
    letter-spacing: 3%;
    font-weight: 400;
}

.logoutButton{
    border: none;
    background: none;
    cursor: pointer;
    width: 1%;
    color: #9EA0AA;
    font-size: clamp(0.6rem, 0.8rem, 1.2rem);
    font-weight: 400;
}

.textLeft{
    font-size: clamp(0.6rem, 0.8rem, 1.2rem);
    font-weight: 500;
    color: #9EA0AA;
    cursor: pointer;
    text-decoration: none;

}
.contactsDataLink{
    color: #0C122A;
    font-weight: 500;
}

hr{
    width: 45%;
    border-top: clamp(0.001rem, 0.002rem, 0.003rem) solid #CDD5DD;
}

.rightContainer{
    display: flex;
    width: 50%;
    gap: clamp(1rem, 1.5rem, 1.8rem);
    flex-direction: column;
    justify-content:space-between;
}

.contactsDataBlock{
    color: #0C122A;
    font-size: clamp(1rem, 1.5rem, 2rem)
}

.inputsContainer{
    display: flex;
    gap: clamp(0.5rem, 1rem, 1.5rem);
    justify-content:space-between;
    flex-direction: column;
}

.saveDataButton{
    border: 0.1rem #9EA0AA solid;
    background: none;
    height: clamp(2rem, 2.5rem, 3rem);
    width: clamp(9rem, 9.5rem, 10rem);
    border-radius: 20px;
    font-size: clamp(0.6rem, 0.8rem, 1rem);
    color: #9EA0AA;
    font-weight: 500;
    letter-spacing: 9%;
    display: flex;
    align-items: center;
    justify-content:center;
    padding: clamp(0.7rem, 0.8rem, 0.9rem) clamp(0.3rem, 0.5rem, 0.7rem)
}

.saveDataButton:hover{
    background-color: #f4eff7;
}