.base-header{
    background-color:rgb(255, 255, 255);
    border-radius: clamp(3rem, 3.5rem, 4rem);
    border: 1px solid #E4E4E7;
    height: clamp(3rem, 3.5rem, 4rem);
    margin: clamp(1rem, 1.5rem, 2rem) clamp(1rem, 1.5rem, 2rem);
    padding: clamp(0.5rem, 0.7rem, 1rem) clamp(1.8rem, 2.3rem, 2.8rem);
    display: flex;
    justify-content:center;
    align-items: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    z-index: 1000;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}


.full{
    background-color:rgb(255, 255, 255,0.5);
}

.half{
    background-color:rgb(255, 255, 255, 0.5);
}

.links-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: clamp(15rem, 15.5rem, 16rem);
}

.header-container {
    position: relative;
    width: clamp(86.5rem, 87rem, 87.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link{
    text-decoration: none;
    font-size: clamp(0.6em, 0.9em, 1.2em)
}

.halfLink:hover{
    background-color: #cacbdb
}

.fullLink:hover{
    background-color: #dddff4
}

.fullLink {
    color: #9EA0AA;
}


.halfLink {
    color: #0C122A;
}

.drones-logo{
    width: clamp(6rem, 7rem, 8rem);
    height: clamp(1rem, 1.3rem, 1.6rem);
    margin-top: clamp(0.2rem, 0.4rem, 0.6rem);
}

.logo-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.action-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: clamp(1rem, 1.5rem, 2rem)
}

.buy-image{
    width: clamp(0.8rem, 1.1rem, 1.4rem);
    height: clamp(0.8rem, 1.1rem, 1.4rem);
}

.header-profile{
    width: clamp(0.6rem, 0.9rem, 1.2rem);
    height: clamp(0.8rem, 1.1rem, 1.4rem);
}

/* Обгортка для іконки кошика, щоб позиціонувати лічильник */
.cartWrapper {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Сам червоний кружечок з цифрою */
.cartBadge {
    position: absolute;
    top: -5px;      
    right: -10px;    
    background-color: #df1212; 
    color: white;
    font-size: 9px;
    font-weight: 700;
    height: 18px;
    min-width: 18px; 
    padding: 0 4px;
    border-radius: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    
}