.catalog-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    max-width: 1440px;   
    margin: 0 auto; 
    padding: 
        clamp(6vw, 9vw, 9.5vw)  
        clamp(1vw, 1.5vw, 1.7vw) 
        clamp(4vw, 10vw, 10vw); 
}

.catalog-p{
    font-weight: bold;
    font-size: calc(1.3vw + 2.6vh);
    color: #CDD5DD;
    letter-spacing: 3%;
    text-align: center;
}

.filter-container{
    height: 60px;
    width: fit-content;
    display: flex;
    gap: clamp(1rem, 1.5rem, 2rem)
}

.filter-button{
    height: clamp(2.5rem, 3rem, 3.5rem);
    width: clamp(2.5rem, 3rem, 3.5rem);
    border-radius: 80px;
    border: none;
    background-color: #F4F4F4;
    color: #0C122A;
    font-size: calc(0.5vw + 0.8vh);
    cursor: pointer;
    transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.filter-button:hover{
    background-color: #E7E7EA;
    transform: translateY(-2px);
}

.filter-button:active {
    transform: translateY(-1px);
    background-color: #E7E7EA;
}

.filter-button:focus {
    background-color: #E7E7EA;
}

.products-container{
    display: grid;
    width: 100%;

    grid-template-columns: repeat(
        auto-fit,
        minmax(280px, 1fr)
    );

    gap: clamp(1.5rem, 2vw, 2.5rem);
    padding-top: 2%
}

.pagination-container{
    display: flex;
    justify-content: flex-end;
    gap: clamp(1.5rem, 2rem, 2.5rem);
    padding-top: clamp(3.5rem, 4rem, 4.5rem);
}

.page-button{
    height: clamp(1.5rem, 2rem, 2.5rem);
    width: clamp(1.5rem, 2rem, 2.5rem);
    border-radius: 80px;
    border: none;
    background-color: #F4F4F4;
}

.active-page-button{
    height: clamp(1.5rem, 2rem, 2.5rem);
    width: clamp(1.5rem, 2rem, 2.5rem);
    border-radius: 80px;
    border: none;
    background-color: #F4F4F4;
}

.p-not-found{
    color: rgb(187, 5, 5);
    font-size: calc(0.5vw + 0.8vh);
}

.found-contain{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    width: 100%;
    min-height: clamp(4.5rem, 5rem, 5.5rem)
}


.p-down{
    color: #0C122A;
    font-size: calc(0.5vw + 0.8vh);
}