.home-page {
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden; 
    background-color: #fff;
}

@media (max-width: 768px) {
    .home-page {
        padding-top: 0 !important;
    }
}
